<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>misy系统</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/inputMargin.css"/>
    <link type="text/css" href="../css/inputMargin.css" rel="stylesheet"/>
    <script src="http://unpkg.com/qiniu-js@2.5.5/dist/qiniu.min.js"></script>
    <script src="../js/user.js"></script>
</head>
<body background="" onload="getData()">
    <div>
        <ul class="menu_list">
            <li class="menu_item">用户列表</li>
            <li class="menu_item">商品列表</li>
            <li class="menu_item">订单列表</li>
            <li class="menu_item">订单列表3</li>
            <li class="menu_item">订单列表4</li>
            <li class="menu_item">订单列表5</li>
            <li class="menu_item">订单列表6</li>
            <li class="menu_item">订单列表7</li>
            <li class="menu_item">订单列表8</li>
            <li class="menu_item">订单列表9</li>
        </ul>
        <table id="table" class="center_table" border="1" cellpadding="0" cellspacing="0">
        </table>
        <div class="bottom_father">
            <div id="page_index" class="page"></div>
            <div class="search_input">
                <span style="font-size: 14px;margin-right: 10px"><b><i>搜索用户</i></b></span>
                <input style="width: 200px" placeholder="请输入用户名">
                <button style="margin-left: 10px" id="search_btn" onclick="showD('dsadsadsa')">搜索</button>
            </div>
        </div>

    </div>
</body>
</html>
